<ion-header class="top-header ion-no-padding" translucent>
  <ion-list class="top-heading three-block">
    <ion-item slot="start">
      <ion-buttons slot="start" class="ion-no-margin" (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-buttons>
      <ion-avatar slot="start">
        <img
          src="../../assets/imgs/blank-avatar.jpg">
      </ion-avatar>
      <ion-label>
        <h3 class="list-person">Pooja</h3>
        <span class="list-name">is online</span>
      </ion-label>
    </ion-item>
		
    <ion-item class="icon-right-side ion-text-end" slot="end">
      <ion-buttons >
        <button ion-button (click)="video()" style="color: #000;font-size: 25px; border: none; background: none;">
          <!-- <img src="assets/imgs/video.png" height="20"> -->
          <!-- <ion-icon name="ios-videocam-outline"></ion-icon> -->
          <ion-icon name="videocam" style="position: absolute; right: -60px; top:-7px;"></ion-icon>
        </button>
    
        <button ion-button (click)="audio()" style="color: #000;font-size: 25px; border: none; background: none;">
          <!-- <img src="assets/imgs/call.png" height="25"> -->
          <!-- <ion-icon name="ios-call-outline"></ion-icon> -->
          <ion-icon name="call" style="position: absolute;
          right: -116px;
          top: -9px;"></ion-icon>
        </button>
        </ion-buttons>
      <ion-button slot="end" (click)="presentPopover()"><ion-icon name="ellipsis-vertical-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content class="back">
  <ion-list class="chats-list" lines="none">
    <ion-item>
      <ion-label class="chat-duration"><span>Today</span></ion-label>
    </ion-item>
    <ion-item class="chat-box chat-right">
      <div class="ion-text-end">
        <ion-label>Hi</ion-label>
        <span class="chat-time">1.33 PM <ion-icon ios="ios-done-all" md="md-done-all" class="text-green"></ion-icon></span>
      </div>
    </ion-item>
    <ion-item class="chat-box chat-left">
      <div class="ion-text-start">
        <ion-label>Hi</ion-label>
        <span class="chat-time">1.34 PM</span>
      </div>
    </ion-item>
    <ion-item class="chat-box chat-right">
      <div class="ion-text-end">
        <ion-label>How are you</ion-label>
        <span class="chat-time">1.34 PM <ion-icon ios="ios-done-all" md="md-done-all"></ion-icon></span>
      </div>
    </ion-item>
    <ion-item class="chat-box chat-left">
      <div class="ion-text-start">
        <ion-label>Lorem Ipsum is simply dummy text of the printing and typesetting industry</ion-label>
        <span class="chat-time">1.36 PM</span>
      </div>
    </ion-item>
    <ion-item class="chat-box chat-right">
      <div class="ion-text-end">
        <ion-label>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled </ion-label>
        <span class="chat-time">1.37 PM <ion-icon ios="ios-done-all" md="md-done-all"></ion-icon></span>
      </div>
    </ion-item>
  </ion-list>


	<div class="message">
		<ion-item>
			<!-- <button item-start ion-button clear small style="height: auto; width: 10px;padding: 0;margin: 0;">
				<img src="assets/imgs/add_icon.png">
			</button> -->
		<ion-input item-end type="text" value="" placeholder="Type message..."></ion-input>
		<button item-end ion-button clear small style="height: auto; width: 10px;padding: 0;margin: 0;">
			<img src="assets/imgs/mice.png">
		</button>
    &nbsp;&nbsp;
		<button item-end ion-button clear small style="height: auto;width: 40px;padding: 0; border: none; background: none;">
			<img src="assets/imgs/icon_slect1.png">
		</button>
	  </ion-item>
	  
	</div>

</ion-content>