.required:after {
    content:" *";
    color: red;

  }
  .required{
      color: black;
      margin-left: 51px;
  }
  .box{
    border-color: #c7c7c7;
border-width: 1px;
border-style: ridge;
border-radius: 10px;
overflow: hidden;
margin-left: -64px;
margin-right: 10px;
margin-top: 96px;
width: 289px;
  }
  .box1{
    border-color: #c7c7c7;
border-width: 1px;
border-style: ridge;
border-radius: 10px;
overflow: hidden;
margin-left: -64px;
margin-right: 10px;
margin-top: 61px;
width: 289px;
  }
  .box2{
    border-color: #c7c7c7;
    border-width: 1px;
    border-style: ridge;
    border-radius: 10px;
    overflow: hidden;
    margin-left: -64px;
    margin-right: 10px;
    margin-top: 61px;
    width: 289px;
  }
  .required1:after {
    content:" *";
    color: red;

  }
  .required1{
    color: black;
    margin-left: 47px;
    margin-top: -47px;
}
.required2{
    color: black;
    margin-left: 47px;
    margin-top: -47px;
}