<ion-header>
  <ion-toolbar>
    <ion-item slot="start">
      <ion-buttons style="zoom: 2.0;" (click)="goBack()">
<ion-icon name="arrow-back-outline"></ion-icon>        </ion-buttons>
      </ion-item>
    <ion-title style="text-align: center;">Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="back_img">
  <div class="login_form_main">
    <div class="login_form">
  <ion-label style="padding-left:115px; font-weight: bold;">Enter Your Phone Number</ion-label>
  <ion-input class="input_1" type="number" placeholder="Mobile Number"></ion-input>
  <div padding class="btn_grp">
    <button class="btnclick" (click)="send()">Send</button>
  </div>
  </div>
  </div>
</ion-content>
