<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/menu/home"></ion-back-button>
    </ion-buttons>
    <!-- <ion-back-button style=" color: black;margin-right: 90%; margin-top: -17px;" defaultHref="campaigns"></ion-back-button> -->
    <ion-title style="color: black; text-align: center;" >Terms And Conditions</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;
      font-size: 300%;
      color: #2b8e75;
      margin-top: 33px;">Terms And Conditions</ion-card-title>
    </ion-card-header>

    <ion-card-content style="text-align: center;">
      Last Updated: 30 May 2020
    </ion-card-content>
  </ion-card>
  <div style="color: black;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;">
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
     It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    <br><br>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
     It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.
    </p>

    </div>
</ion-content>
