<ion-header>
  <ion-toolbar>
    <ion-item slot="start">
      <ion-buttons style="zoom: 2.0;" (click)="goBack()">
<ion-icon name="arrow-back-outline"></ion-icon>        </ion-buttons>
      </ion-item>
    <ion-title style="text-align: center; text-transform: uppercase;">contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="back">

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <div class="user" (click)="chatdetail()">

    <ion-list>
    <ion-item-sliding no-lines>
    <ion-item no-lines class="chat_item">
      <ion-avatar item-start>
        <div>
          <img src="../../assets/imgs/blank-avatar.jpg">
      </div>
      </ion-avatar>
      <div>
      <h6 class="heading_int">Simon</h6>
            <p class="dateee">@simon_john</p>
            </div>
    </ion-item>

  </ion-item-sliding>
</ion-list>

    </div>
    <div class="user">

      <ion-list>
      <ion-item-sliding no-lines>
      <ion-item no-lines class="chat_item">
        <ion-avatar item-start (click)="chatdetail()">
            <img src="../../assets/imgs/blank-avatar.jpg">
        </ion-avatar>
        <div>
        <h6 class="heading_int" (click)="chatdetail()">Simon</h6>
              <p class="dateee">+91452458452</p>
              </div>
              <button ion-button item-end style="position: absolute !important;
              top: 27px !important;
              right: 16px !important;
              text-align: right; text-transform: uppercase; background-color: orange; " small (click)="invite()">Invite</button>
      </ion-item>
  
    </ion-item-sliding>
  </ion-list>
  
      </div>
      <div class="user" (click)="chatdetail()">

        <ion-list no-lines>
        <ion-item-sliding no-lines>
        <ion-item no-lines class="chat_item">
          <ion-avatar item-start>
              <img src="../../assets/imgs/blank-avatar.jpg">
          </ion-avatar>
          <div>
          <h6 class="heading_int">Simon</h6>
                <p class="dateee">@simon_john</p>
        </div>
              </ion-item>
        
      </ion-item-sliding>
    </ion-list>
    
        </div>
        <div class="user">
    
          <ion-list no-lines>
          <ion-item-sliding no-lines>
          <ion-item no-lines class="chat_item">
            <ion-avatar item-start (click)="chatdetail()">
                <img src="../../assets/imgs/blank-avatar.jpg">
            </ion-avatar>
            <div>
            <h6 class="heading_int" (click)="chatdetail()">Simon</h6>
                  <p class="dateee">+91452458452</p>
                  </div>
                  <button ion-button item-end style="position: absolute !important;
                  top: 27px !important;
                  right: 16px !important;
                  text-align: right; text-transform: uppercase; background-color: orange; " small (click)="invite()">Invite</button>
          </ion-item>
      
        </ion-item-sliding>
      </ion-list>
      
          </div>
	<div class="user" *ngFor="let k of [1,2,3,4]" (click)="chatdetail()">

    <ion-list no-lines>
    <ion-item-sliding no-lines>
    <ion-item no-lines class="chat_item">
      <ion-avatar item-start>
          <img src="../../assets/imgs/blank-avatar.jpg">
      </ion-avatar>
      <div>
      <h6 class="heading_int">Simon</h6>
            <p class="dateee">@simon_john</p>
        </div>
          </ion-item>

    <ion-item-options side="left"> 
      <button ion-button color="dark" icon-start>
        <img src="assets/imgs/msg.png">
        Read
      </button>
      <button ion-button color="primary" icon-start>
        <img src="assets/imgs/pin.png">
        Pin
      </button>
    </ion-item-options>

    <ion-item-options side="right">
      <button ion-button color="dark">
        <img src="assets/imgs/more.png">
        more
      </button>
      <button ion-button color="primary">
        <img src="assets/imgs/archive.png">
        Archive
      </button>
    </ion-item-options>

  </ion-item-sliding>
</ion-list>

    </div>

</ion-content>

