<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
 
</ion-header>
<ion-content padding class="back_img">



  <div class="login_form_main">
      <div class="login_form">
          <div class="logo">
              <img src="../../assets/imgs/login/logo.png">
              <h3>Please enter your details</h3>
          </div>


          <ion-list style="margin:0 0 20px">



              <ion-label style="padding-left: 50px;
              ">First Name</ion-label>
                  <ion-input class="input_1" type="text" placeholder="Enter First Name"></ion-input>
              


              <ion-label style="padding-left: 50px;
              ">Last Name</ion-label>
                  <ion-input class="input_1"  type="text" placeholder="Enter Last Name"></ion-input>
              


              <ion-label style="padding-left: 50px;
              " >Username</ion-label>
                  <ion-input class="input_1"  type="text"
                      placeholder="Enter Username"></ion-input>
                  <ion-icon color="primary"  name="ios-checkmark" item-end>
                  </ion-icon>
              <!-- <p style="margin-top: 0px;" ion-text color="danger">{{userNameS}}</p> -->

              <!-- <label>Country</label>
              <ion-item (click)="openModal('forCountry')" class="input_1" no-lines>
                  <input [(ngModel)]="formData.countryName" disabled style="opacity:1 !important;background: transparent;" type="text" placeholder="Select Country">
              </ion-item> -->

              <ion-label style="padding-left: 35px;
              ">Enter Your Phone Number</ion-label>
                  <!-- <button (click)="openModal()" no-margin style="padding: 0 6px 0 0;" ion-button clear>
                      <img [src]="formData.countryFlag" start>
                      <ion-icon style="color: black;font-weight: 600;" name="ios-arrow-down"></ion-icon>
                  </button> -->
                  <ion-input class="input_1" type="number" placeholder="Mobile Number"></ion-input>

              <ion-label style="padding-left: 50px;
              ">Password</ion-label>
                  <ion-input class="input_1"  type="password" placeholder="Enter Password">
                  <!-- <ion-icon (click)="changeTypeP()" *ngIf="pTypeName=='password'" name="ios-eye-outline" item-end>
                  </ion-icon>
                  <ion-icon (click)="changeTypeP()" *ngIf="pTypeName=='text'" name="ios-eye-off-outline" item-end>
                  </ion-icon> -->
                  </ion-input>

              <ion-label style="padding-left: 50px;
              ">Confirm Password</ion-label>
                  <ion-input class="input_1" type="password" placeholder="Enter Confirm Password">
                  <!-- <ion-icon (click)="changeTypeC()" *ngIf="cTypeName=='password'" name="ios-eye-outline" item-end>
                  </ion-icon>
                  <ion-icon (click)="changeTypeC()" *ngIf="cTypeName=='text'" name="ios-eye-off-outline" item-end>
                  </ion-icon> -->
                  </ion-input>

          </ion-list>


          <div padding class="btn_grp">
              <button class="btnclick" (click)="signup()">SIGN UP</button>
              <p>Don't have an account? <span (click)="login()">Login</span></p>
          </div>
      </div>
  </div>



</ion-content>