<ion-header>
  <ion-toolbar>
    <ion-item slot="start">
      <ion-buttons style="zoom: 2.0;" (click)="goBack()">
<ion-icon name="arrow-back-outline"></ion-icon>        </ion-buttons>
      </ion-item>
    <ion-title style="text-align: center;">Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
  <ion-card no-margin>
    <ion-card-content class="bg-profile">
      <img src="../../assets/imgs/blank-avatar.jpg">
      <button style="padding-right: 0px;
      padding-left: 0px;
      padding-top: 0px;
      height: 29px;
      width: 50px;
      border-radius: 17px;
      border-left: 3px; margin-left: -124px; border: none; background: none;">
        <img style="margin-left: 1px;
        width: 50%;
        height: 82%;" src="../../assets/imgs/camera.png" (click)="getImage()">
        </button>
    </ion-card-content>
    <ion-grid fixed no-padding>

       <ion-row>
        <ion-col padding>

          <ion-list lines="none">
            
             <ion-item class="box">
              <ion-label  position="stacked">Full Name:</ion-label>
              <ion-input type="text" style=" font-weight: bold; color: #000;" placeholder="" value=""  ></ion-input>
              <img src="../../assets/imgs/status-edit.png" class="iconimage" >

            </ion-item><br>
              <ion-item class="box">
              <ion-label  position="stacked">Email Address:</ion-label>
              <ion-input inputmode="email" style="outline: none; font-weight: bold;" placeholder="" value="">abc@abc.com</ion-input>
             </ion-item><br>
             <ion-item class="box">
              <ion-label  position="stacked">Username:</ion-label>
              <ion-input type="text"  style=" outline: none; font-weight: bold;" placeholder="" value=""  ></ion-input>
              <img src="../../assets/imgs/status-edit.png" class="iconimage" >

            </ion-item>  
        <br>
            <ion-item class="box">
              <ion-label  position="stacked">Phone Number:</ion-label>
              <ion-input inputmode="number" style=" outline: none; font-weight: bold;" placeholder="" value="" ></ion-input>
              <img slot="end" src="../../assets/imgs/status-edit.png" class="iconimage" >
            </ion-item>

          </ion-list>



        </ion-col>
      </ion-row> 
<section id="footer">
  <button expand="block" style="background-color: #fe6e4a; font-size: medium; width: 360px;
  height: 36px;
  color: white;" (click)="save()">Save</button>
</section>
    </ion-grid>


  </ion-card>


</ion-content>
