<ion-header>
  <ion-toolbar>
    <ion-item slot="start">
      
<ion-icon name="arrow-back" (click)="goBack()"></ion-icon>       
      </ion-item>
    <ion-title style="text-align: center;">Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
    <div class="bg-profile">
      <img *ngIf="formData.profile_picture" src="{{profilePicUrl}} {{formData.profile_picture}}">
      <img *ngIf="!formData.profile_picture" src="../../assets/imgs/user.jpg">
      <!-- <img  [src]="formData?.profile_picture"> -->
      <button class="selectfile">
        <img style="margin-left: 1px;
        width: 50%;
        height: 82%;" src="../../assets/imgs/camera.png" (click)="getImage()">
        </button>
    </div>
    <ion-grid fixed no-padding>

       <ion-row>
        <ion-col padding>

          <ion-list>
            
             <ion-item class="box" lines="none">
              <ion-label  position="stacked">Full Name:</ion-label>
              <ion-input type="text"style=" font-weight: bold; color: #000; outline: none;" placeholder="" value=""  >{{formData.name}}</ion-input>

            </ion-item><br>
              <ion-item class="box">
              <ion-label  position="stacked">Email Address:</ion-label>
              <ion-input inputmode="email" style="outline: none; font-weight: bold;" placeholder="" value="">{{formData.email}}</ion-input>
             </ion-item><br>
             <ion-item class="box">
              <ion-label  position="stacked">Username:</ion-label>
              <ion-input type="text"  style=" outline: none; font-weight: bold;" placeholder="" value=""  >{{formData.user_name}}</ion-input>

            </ion-item>  
        <br>
            <ion-item class="box">
              <ion-label  position="stacked">Phone Number:</ion-label>
              <ion-input inputmode="number" style=" outline: none; font-weight: bold;" placeholder="" value="" >{{formData.primary_mobile_number}}</ion-input>
              </ion-item>

          </ion-list>



        </ion-col>
      </ion-row> 
<div id="footer">
  <button expand="block" class="btnsave" (click)="save()">Save</button>
</div>
    </ion-grid>




</ion-content>
