<ion-header>
 <ion-toolbar> 	
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false">
      <img src='../../assets/imgs/blank-avatar.jpg'>
    </ion-menu-button>
    <ion-icon name="person-add-outline" (click)="mycontact()" class="size"></ion-icon>  
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="back">

  <ion-segment [(ngModel)]="type" style="background-color: #fe6e4a;">
    <ion-segment-button   value="chat">
      Chat
      <div class="txt1" *ngIf="unreadchatCount > 0">{{unreadchatCount}}</div>
   </ion-segment-button>
   <ion-segment-button value="request"  (click)="showRequests()">
    Requests
    <div class="txt" *ngIf="requestCount > 0">{{requestCount}}</div>
  </ion-segment-button>
  </ion-segment>
  
  <div class="" [ngSwitch]="type">
  
  <div *ngSwitchCase="'chat'" class="list_plan" style="margin-top: 15px;">
    <ion-searchbar style="width: 90%;
    margin: auto;" [(ngModel)]="filterTerm" animated="true">
  </ion-searchbar>
      
    <div class="user" *ngFor="let k of [1,2,3,4,5]" >
  
      <ion-list>
      <ion-item-sliding no-lines>
      <ion-item  class="chat_item" *ngFor="let data of items | filter:filterTerm" >
        <ion-avatar item-start>
            <img src="assets/imgs/blank-avatar.jpg">
       
        </ion-avatar>
      
        <div (click)="chatdetail(userData.id === data.receiverID ? data.senderID: data.receiverID,data.chatroom.room,data.type)">
          <h6 class="heading_int">{{data.user_name}}</h6>
              <p class="dateee">How are you?</p>
              </div>
              <div class="rate">
                  <p class="dat">3:47 PM <span class="ping">7</span></p>
              </div>
      </ion-item>
  
      <ion-item-options slot="start"> 
        <button ion-button color="dark" icon-start>
          <img src="assets/imgs/msg.png">
          Read
        </button>
        <button ion-button color="primary" icon-start>
          <img src="assets/imgs/pin.png">
          Pin
        </button>
      </ion-item-options>
  
      <ion-item-options slot="end">
        <button ion-button color="dark" >
          <img src="assets/imgs/more.png">
          more
        </button>
  
        <button ion-button color="primary">
          <img src="assets/imgs/archive.png" style="width: 15px;">
          Archive
        </button>
      </ion-item-options>
  
    </ion-item-sliding>

  </ion-list>

      </div>
  
      <div *ngIf="items?.length === 0" style="text-align: center;">No Chat found</div>

  </div>
  
  <div *ngSwitchCase="'request'" class="list_plan">
    <ion-searchbar [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
      
    <div class="user">
  
      <ion-list>
      <ion-item-sliding no-lines>
      <ion-item no-lines class="chat_item" *ngFor="let data of userRecords | filter:filterTerm">
        <ion-avatar item-start>
            <img src="assets/imgs/blank-avatar.jpg">
        </ion-avatar>
        <div>
        <h6 class="heading_int">{{data.name}}</h6>
              <p class="dateee">How are you?</p>
              </div>
              <div class="rate">
                  <button ion-button small class="block">Cancel</button>
                  <button ion-button small class="accept" (click)="chatdetail()">Accept</button>
                  <br>
              </div>
             
      </ion-item>
  
      <ion-item-options> 
        <button ion-button color="dark" icon-start>
          <img src="assets/imgs/msg.png">
          Read
        </button>
        <button ion-button color="primary" icon-start>
          <img src="assets/imgs/pin.png">
          Pin
        </button>
      </ion-item-options>
  
      <ion-item-options>
        <button ion-button color="dark">
          <img src="assets/imgs/more.png">
          more
        </button>
        <button ion-button color="primary">
          <img src="assets/imgs/archive.png" style="width: 15px;">
          Archive
        </button>
      </ion-item-options>
  
    </ion-item-sliding>
  </ion-list>
  
      </div>
  </div>
  

  
  
  </div>
  </ion-content>