.back{
  background-image: url('/assets/imgs/menu/background.png');
}
.back-button.bar-button {
color: #fff;
}
.toolbar {
min-height: 55px !important;
}
.toolbar-title {
color: white !important;
font-weight: 100 !important;
}
.toolbar-background {
background-color: var(-ion-color-primary);
}

.segment-ios .segment-button {
-webkit-box-flex: 1;
-webkit-flex: 1;
-ms-flex: 1;
flex: 1;
width: 0;
height: 3.2rem;
border-width: 1px;
border-style: solid;
border-color: #fe6e4a;
font-size: 1.3rem;
line-height: 3rem;
color: #fe6e4a;
background-color: transparent;
font-weight: bold;
border: none;
font-size: 15px;
}
.segment-ios .segment-button.segment-activated {
color: #fe6e4a;
background-color: transparent;
opacity: 1;
-webkit-transition: 100ms all linear;
transition: 100ms all linear;
font-weight: bold;
}
.user_img img {
height: 71px;
width: 65px;
border-radius: 50%;
border: 1px solid #3aa400;
padding: 2px;
background: #fff;
}
.user_img {
text-align: center;
position: relative;
height: 71px;
}
.dat span {
color: #000;
font-family: 'sfbold';
font-weight: 500;

}
.dateee{
  padding-left: 24px;
}
.new_img {
border: none !important;
border-radius: 0 !important;
width: auto !important;
height: 23px !important;
position: absolute;
top: -5px;
background: transparent !important;
}
.user .row {
align-items: center;
justify-content: center;
padding: 10px 10px 0;
}
.heading_int {
font-size: 15px !important;
font-weight: 500;
padding-left: 24px;
}
.heading {
font-size: 17px !important;
font-weight: 100;
padding: 0 16px;
}
.chat_item.item.item-block {
border: none !important;
}
.user .item-inner {
padding: 0 5px !important;
border-bottom: 1px solid #ccc !important;
margin: 0px 0 0;
}
.rate {
position: absolute !important;
top: 9px !important;
right: 16px !important;
text-align: right;
}
ion-item-options img {
width: 18px;
margin: 8px;
}
.rate p {
font-size: 10px;
}
.accept {
background: #01da10;
}
.block {
background: red;
}
.searchbar {
background: transparent;
border: none;
padding: 20px 20px 0;
min-height: 50px;
}
.searchbar-input {
background: #fff !important;
height: 35px !important;
border-radius: 50px !important;
box-shadow: 0px 2px 4px #00000026;
}
.searchbar-search-icon {
top: 11px !important;
}
.list {
margin: 0;
}
.searchbar {
background: transparent;
border: none;
padding: 16px;
min-height: 50px;
}
.segment {
margin: 20px 0 0;
}
.chat_item {
background: transparent;
}
ion-item-sliding {
background-color: transparent !important;
}
.fab {
background: transparent;
}
.item-ios ion-avatar {
min-width: 65px;
min-height: 65px;
}
.ping {
background: #fe6e4a;
width: 14px;
height: 14px;
display: inline-block;
text-align: center;
padding: 2px;
border-radius: 50%;
color: #fff !important;
font-size: 8px;
}
.toolbar-background {
border: none !important;
}
.rate button {
margin: 0 0 2px 0 !important;
padding: 8px;
font-size: 10px;
}
.select {
padding: 0 !important;
height: 0;
}
ion-item-options {
z-index: +99;
}

.custom-button{
  position:fixed;
  right:0;
  bottom:0;
}
.footer{
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}
.size{
  background-size: 33px;
    width: 39px;
    height: 22px;
    cursor: pointer;
}
.icon {
  width:30px; 
  height:30px;
  position: relative;
}
.txt{
  background-color:rgb(218, 135, 28);
  color: #000;
  font-size:xx-small;
  position: absolute;
  padding:2px;
  top: 5px;
  right: 32px;
  border-radius: 25px;
}
.txt1{
  background-color:rgb(218, 135, 28);
  color: #000;
  font-size:xx-small;
  position: absolute;
  padding:2px;
  top: 5px;
  right: 55px;
  border-radius: 25px;
}
.nutrition-no-data {
  height: calc(100% - 100px) !important;
}