
<!-- <ion-header>
  <ion-toolbar>
      <ion-title>Home</ion-title>
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<ion-header>
 <ion-toolbar> 	
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false">
      <img src='../../assets/imgs/blank-avatar.jpg'>
    </ion-menu-button>
    <button ion-button clear icon-only small style="color: #000;font-weight: 600;padding: 0;margin: 0; border: none; background: none;">$<span *ngIf="show">100</span></button>
    &nbsp;&nbsp;<button ion-button clear icon-only style="color: #000;font-weight: 600;padding: 0;margin: 0; border: none; background: none;" (click)="toggle()">
      <img src="assets/imgs/eye.png" width="25">
      </button>
</ion-buttons>
<!-- <ion-buttons slot="end">
  <button ion-button (click)="video()" style="color: #000;font-size: 25px; padding: 0;margin: 0; border: none; background: none;">
   
    <ion-icon name="videocam"></ion-icon>
  </button>&nbsp;&nbsp;

  <button ion-button (click)="audio()" style="color: #000;font-size: 25px; padding: 0;margin: 0; border: none; background: none;">
   
    <ion-icon name="call"></ion-icon>
  </button>
</ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content class="back">

  <ion-segment [(ngModel)]="type" style="background-color: #fe6e4a;">
    <ion-segment-button  value="chat">
      Chat
   </ion-segment-button>
   <ion-segment-button value="group">
       Groups
   </ion-segment-button>
   <ion-segment-button value="circle">
       Circles
   </ion-segment-button>
   <ion-segment-button value="request">
    Requests
  </ion-segment-button>
  <ion-segment-button value="status">
    Status
  </ion-segment-button>
  </ion-segment>
  
  <div class="" [ngSwitch]="type">
  
  <div *ngSwitchCase="'chat'" class="list_plan" style="margin-top: 15px;">
    <ion-searchbar style="width: 90%;
    margin: auto;"></ion-searchbar>
      
    <div class="user" *ngFor="let k of [1,2,3,4,5]" (click)="chatdetail()">
  
      <ion-list>
      <ion-item-sliding no-lines>
      <ion-item  class="chat_item">
        <ion-avatar item-start>
            <img src="assets/imgs/blank-avatar.jpg">
       
        </ion-avatar>
      
        <div>
          <h6 class="heading_int">Simon</h6>
              <p class="dateee">How are you?</p>
              </div>
              <div class="rate">
                  <p class="dat">3:47 PM <span class="ping">7</span></p>
              </div>
      </ion-item>
  
      <ion-item-options slot="start"> 
        <button ion-button color="dark" icon-start>
          <img src="assets/imgs/msg.png">
          Read
        </button>
        <button ion-button color="primary" icon-start>
          <img src="assets/imgs/pin.png">
          Pin
        </button>
      </ion-item-options>
  
      <ion-item-options slot="end">
        <button ion-button color="dark" >
          <img src="assets/imgs/more.png">
          more
          <!-- <ion-select [(ngModel)]="notifications" interface="action-sheet">
            <ion-option value="enable">Mute</ion-option>
            <ion-option value="mute" (ionSelect)="contactinfo()">Contact Info</ion-option>
            <ion-option value="chat">Export Chat</ion-option>
            <ion-option value="circle">Add to Circle</ion-option>
            <ion-option value="mute_week">Clear Chat</ion-option>
            <ion-option value="mute_week">Delete Chat</ion-option>
          </ion-select> -->
        </button>
  
        <button ion-button color="primary">
          <img src="assets/imgs/archive.png" style="width: 15px;">
          Archive
        </button>
      </ion-item-options>
  
    </ion-item-sliding>
  </ion-list>
  
      </div>
  
  
  </div>
  
  <div *ngSwitchCase="'group'" class="list_plan">
    <ion-searchbar></ion-searchbar>
      
    <div class="user" *ngFor="let k of [1,2,3,4,5]" (click)="chatdetail()">
  
      <ion-list>
      <ion-item-sliding no-lines>
      <ion-item  class="chat_item">
        <ion-avatar item-start>
            <img src="assets/imgs/blank-avatar.jpg">
            <!-- <img class="new_img" src="assets/imgs/lock.png"> -->
        
        </ion-avatar>
        <div>
        <h6 class="heading_int">Korzinka UZ Staff</h6>
        <p class="dateee"><span>Sultan:</span> How are you?</p>
        </div>
        <!-- <p style="color: #000;font-size: 12px;">31 members <span style="float: right;"><h4 style="font-size: 12px;">@Sultan(3)</h4></span></p> -->
              <div class="rate">
                  <p class="dat">3:47 PM <span class="ping">7</span></p>
              </div>
      </ion-item>
  
      <ion-item-options slot="end">
       
        <button ion-button color="primary" icon-start>
          <img src="assets/imgs/pin.png">
          Pin
        </button>
      </ion-item-options>
  
    </ion-item-sliding>
  </ion-list>
  
      </div>
  
  </div>
  
  <div *ngSwitchCase="'circle'" class="list_plan">
    <ion-searchbar ></ion-searchbar>
      
    <div class="user" *ngFor="let k of [1,2,3,4,5]" (click)="circle()">
  
      <ion-list >
      <ion-item-sliding no-lines>
      <ion-item class="chat_item">
        <ion-avatar item-start>
            <img src="assets/imgs/blank-avatar.jpg">
            <img class="new_img" src="assets/imgs/lock.png">
        </ion-avatar>
        <div>
        <h6 class="heading_int">Family</h6>
              <p style="color: #000;font-size: 12px; padding-left: 23px;">4 members</p>
             </div> 
      </ion-item>
  
      <ion-item-options slot="start"> 
        <button ion-button color="dark" icon-start>
          <img src="assets/imgs/msg.png">
          Read
        </button>
        <button ion-button color="primary" icon-start>
          <img src="assets/imgs/pin.png">
          Pin
        </button>
      </ion-item-options>
  
      <ion-item-options slot="end">
        <button ion-button color="dark">
          <img src="assets/imgs/more.png">
          more
        </button>
        <button ion-button color="primary">
          <img src="assets/imgs/archive.png" style="width: 15px;">
          Archive
        </button>
      </ion-item-options>
  
    </ion-item-sliding>
  </ion-list>
  
      </div>
  
  
  </div>
  
  <div *ngSwitchCase="'request'" class="list_plan">
    <ion-searchbar></ion-searchbar>
      
    <div class="user">
  
      <ion-list>
      <ion-item-sliding no-lines>
      <ion-item no-lines class="chat_item">
        <ion-avatar item-start>
            <img src="assets/imgs/blank-avatar.jpg">
        </ion-avatar>
        <div>
        <h6 class="heading_int">Simon</h6>
              <p class="dateee">How are you?</p>
              </div>
              <div class="rate">
                  <button ion-button small class="block">Block</button>
                  <button ion-button small class="accept" (click)="chatdetail()">Accept</button>
                  <button ion-button small class="primary" item-end (click)="report()">Report</button>
                  <br>
              </div>
             
      </ion-item>
  
      <ion-item-options> 
        <button ion-button color="dark" icon-start>
          <img src="assets/imgs/msg.png">
          Read
        </button>
        <button ion-button color="primary" icon-start>
          <img src="assets/imgs/pin.png">
          Pin
        </button>
      </ion-item-options>
  
      <ion-item-options>
        <button ion-button color="dark">
          <img src="assets/imgs/more.png">
          more
        </button>
        <button ion-button color="primary">
          <img src="assets/imgs/archive.png" style="width: 15px;">
          Archive
        </button>
      </ion-item-options>
  
    </ion-item-sliding>
  </ion-list>
  
      </div>
  </div>
  
  
  <div *ngSwitchCase="'status'" class="list_plan">
  
    
        
      <div class="user">
    
        <ion-list>
        <ion-item-sliding no-lines>
        <ion-item no-lines class="chat_item">
          <ion-avatar item-start>
              <img src="assets/imgs/blank-avatar.jpg">
          </ion-avatar>
          <div>
          <h6 class="heading_int">Rawan Essam</h6>
          <p style="color: #000;font-size: 12px; padding-left: 23px;">@rawan_essam</p>
            </div>
          <button ion-button item-end clear style="padding: 0;margin: 0; border: none; background: none; outline: none;">
            <img src="assets/imgs/status-camera.png" width="27">
          </button>
          <button ion-button item-end clear style="padding: 0;margin: 0; border: none; background: none;">
            <img src="assets/imgs/status-edit.png"  width="27">
          </button>
                
        </ion-item>
    
      </ion-item-sliding>
    </ion-list>
  
    </div>
  
    <h3 class="heading">RECENT UPDATES</h3>
      
    <div class="user">
  
      <ion-list>
      <ion-item-sliding no-lines>
      <ion-item no-lines class="chat_item">
        <ion-avatar item-start>
            <img src="assets/imgs/blank-avatar.jpg">
        </ion-avatar>
        <div>
        <h6 class="heading_int">Family</h6>
              <p style="color: #000;font-size: 12px; padding-left: 23px;">4 members</p>
             </div> 
      </ion-item>
  
    </ion-item-sliding>
  </ion-list>
  
      </div>
  </div>
  
  
  </div>
  
  <ion-fab *ngIf="type=='chat'"   style="bottom:50px !important; right:35px !important"  (click)="mycontact()">
      <img src="assets/imgs/icon_slect.png" width="90" style="max-width:90px">
    </ion-fab>
  
    <ion-fab *ngIf="type=='group'"   style="bottom:50px !important; right:35px !important"  (click)="addgroup()">
        <img src="assets/imgs/icon_slect.png" width="90" style="max-width:90px">
      </ion-fab>
  
      <ion-fab *ngIf="type=='circle'"   style="bottom:50px !important; right:35px !important"  (click)="addcir()">
          <img src="assets/imgs/icon_slect.png" width="90" style="max-width:90px">
        </ion-fab>
       
        <div class="footer">
          <ion-segment style="background:#ffff">
            <ion-segment-button style="color:white" icon-left>
              <img src="../../assets/imgs/footer/chat-active.png" style="max-width: 50%;" >
            </ion-segment-button>
            <ion-segment-button value="diesel_10" style=color:white>
              <img src="../../assets/imgs/footer/email-active.png" style="max-width: 50%;" >
            </ion-segment-button>
            <ion-segment-button value="benzin_e5" style=color:white>
              <img src="../../assets/imgs/footer/media-active.png" style="max-width: 50%;" >
            </ion-segment-button>
            <ion-segment-button value="benzin_e10" style=color:white>
              <img src="../../assets/imgs/footer/wallet-active.png" style="max-width: 50%;" >
            </ion-segment-button>
            <ion-segment-button value="benzin_e10" style=color:white>
              <img src="../../assets/imgs/footer/more-active.png" style="max-width: 50%;" >

            </ion-segment-button>
          </ion-segment>
        </div>
        <!-- <ion-tabs>
          <ion-tab-bar slot="bottom">
            <ion-tab-button tab="schedule">
              <img src="../../assets/imgs/footer/chat-active.png" style="max-width: 50%;" >
            
            </ion-tab-button>
            <ion-tab-button tab="schedule">
              <img src="../../assets/imgs/footer/email-active.png" style="max-width: 50%;" >
            
            </ion-tab-button>
                  <ion-tab-button tab="speaker">
                    <img src="../../assets/imgs/footer/media-active.png" style="max-width: 50%;" >
            </ion-tab-button>
            <ion-tab-button tab="schedule">
              <img src="../../assets/imgs/footer/wallet-active.png" style="max-width: 50%;" >

            
            </ion-tab-button>
            <ion-tab-button tab="schedule">
              <img src="../../assets/imgs/footer/more-active.png" style="max-width: 50%;" >

            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs> -->
  
  </ion-content>